<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Style It</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  </head>
  <body>
    <header>
       Style It
     </header>
    {{{body}}}

  </body>
</html>
