.app {
font-family: 'Muli', sans-serif;

}

header {
  font-size: 40px;
  text-align: center;
  background-color: #ff4444;
  position: fixed;
  height: 88px;
  width: 100vw;
  top: 0;
  left: 0;
  color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Muli', sans-serif;
  padding-top: 16px;

}

header a {
  color: white;
}

header a:hover{
  text-decoration: none;
  color: #dddddd;
}

.detailsHeader {
  padding-top: 40px;
}
.showImage {
  height: 350px;
  width: 350px;
}

.itemsShowContainer {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.itemsShow {
  height: 480px;
  width: 480px;
  font-size: 14px;
  /*position: absolute;*/
  margin: auto;
}

/*.editForm {
  font-size: 12px;
  margin-top: 100px;
  margin-right: -700px;
}*/

/*.form-horizontal {
  width: 400px;
  margin-left: 920px;
  margin-top: 30px;

}*/


.form-horizontal {
  width: 400px;
  float: right;

  margin-top: -440px;
  margin-right: 50px;


}


.newFormContainer {
  justify-content: center;
  display: flex;
}
.form-group {
  width: 400px;
  position: absolute;
  margin: auto;

}

.searchBoxContainer {
  display: flex;
  justify-content: center;

}
#search {
  width: 150px;
  display: flex;
  text-align: center;
}


.itemsContainer {
  font-size: 20px;
  margin-top: 60px;
  justify-content: center;
  display: flex;
}


@media only screen and (max-width: 1430px){
.indexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


}
}

#well {
  width: 370px;
}

.mainContainer {
  text-align: center;
  margin-top: 80px;
}


.indexImage:hover {
  opacity: .6;

}

.indexImage {
  height: 210px;
  width: 210px;
}

.backLink > a {
  font-size: 16px;
  color: #00b2a0;

}

.backLink > a:hover {
  text-decoration: none;
}


#heart:hover{
  color: #f5c1c1;
}

.heartAndUpvote {
  margin-top: 14px;
}

.glyphicon {
  color: #fd4000;
}
