<h2> Add Item</h2>

<form data-ng-submit="vm.create()">
<div>
  <input type="text" data-ng-model="vm.item.title" placeholder="Title">
<div>
<div>
  <input type="text" data-ng-model="vm.item.photo_url" placeholder="Photo Url">
</div>
<div>
  <input type="text" data-ng-model="vm.item.maker" placeholder="Maker">
</div>
<div>
  <input type="text" data-ng-model="vm.item.description" placeholder="Description">
</div>
<div>
  <input type="text" data-ng-model="vm.item.price" placeholder="Price">
</div>

<button type="submit">Create</button>
</form>
