<div class="mainContainer">
  <br>
  <a data-ui-sref="index()"> Back </a><br><br>

  <div class="newFormContainer">
    <form class="form-group" data-ng-submit="vm.create()">
    <div>
      <input type="text" class="form-control" data-ng-model="vm.item.title" placeholder="Title">
    <div>
    <div>
      <input type="text" class="form-control" data-ng-model="vm.item.photo_url" placeholder="Photo Url">
    </div>
    <div>
      <input type="text" class="form-control" data-ng-model="vm.item.maker" placeholder="Maker">
    </div>
    <div>
      <input type="text" class="form-control" data-ng-model="vm.item.description" placeholder="Description">
    </div>
    <div>
      <input type="text" class="form-control" data-ng-model="vm.item.price" placeholder="Price">
    </div><br>
    <button type="submit" class="btn btn-success">Create</button>
    </form>
  </div>
</div>
