<div class="mainContainer">
  <h4>Details</h4>
  <p class="backLink"><a data-ui-sref="index()"> Back </a></p>

  <div class="itemsShowContainer">
    <div class="itemsShow">
      <h4>{{vm.item.title}}</h4>
      <img class="showImage" ng-src="{{vm.item.photo_url}}" alt="product image"/>
      <br><br><p>{{vm.item.description}}</p>
      <p>{{vm.item.maker}}</p>
      <p> ${{vm.item.price}}</p>
      <button class="btn btn-basic" data-ng-click="showForm = ! showForm; showDiv=true" type="submit" ng-show="!showDiv; showEditButton=true">Edit</button>
    </div>
  </div>

  <form class="form-horizontal" class="editForm" data-ng-submit="vm.update()" data-ng-show="showForm">
    <div>
      <p>Title <input  type="text" class="form-control" data-ng-model="vm.item.title" placeholder="Title"></p>
    </div>
    <div>
      <p>Photo URL <input type="text" class="form-control" data-ng-model="vm.item.photo_url" placeholder="Photo Url"></p>
    </div>
    <div>
      <p>Purchased From <input type="text" class="form-control" data-ng-model="vm.item.maker" placeholder="Maker"></p>
    </div>
    <div>
      <p>Description <input type="text"  class="form-control" data-ng-model="vm.item.description" placeholder="Description"></p>
    </div>
    <div>
      <p>Price <input type="text"  class="form-control" data-ng-model="vm.item.price" placeholder="Price"></p>
    </div>

    <button class="btn btn-primary" data-ng-click="showForm = ! showForm; showDiv=true" ng-show="showDiv" type="submit">Update</button>
    <button class="btn btn-danger" data-ng-click="vm.destroy()" type="submit">Delete</button>
  </form>

</div>
